version: "3.9"

networks:
  kafka-net:
    driver: bridge

services:
  broker:
    image: apache/kafka:latest
    hostname: broker
    container_name: broker
    ports:
      - 9092:9092
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_NODE_ID: 1
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@broker:29093
      KAFKA_LISTENERS: PLAINTEXT://broker:29092,CONTROLLER://broker:29093,PLAINTEXT_HOST://0.0.0.0:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LOG_DIRS: /tmp/kraft-combined-logs
      CLUSTER_ID: MkU3OEVBNTcwNTJENDM2Qk
    networks:
      - kafka-net

  writer:
    build:
      context: ./adapter/writer
      dockerfile: Dockerfile
    container_name: writer
    restart: unless-stopped
    ports:
      - 5000:5000
    environment:
      KAFKA_BOOTSTRAP: broker:29092
    depends_on:
      - broker
    networks:
      - kafka-net

  reader:
    build:
      context: ./adapter/reader
      dockerfile: Dockerfile
    container_name: reader
    restart: unless-stopped
    environment:
      KAFKA_BOOTSTRAP: broker:29092
      TOPIC: test-topic
      API_URL: http://192.168.11.238:5002/write
      PERIOD: 5
      GROUP_ID: reader-group
    depends_on:
      - broker
      - writer
    networks:
      - kafka-net

  swagger-ui:
    image: swaggerapi/swagger-ui:v5.17.14
    restart: always
    environment:
      URLS: |
        [
          { "name": "Kafka Reader API", "url": "/openapi/openapi-kafka-reader.yaml" },
          { "name": "Kafka Writer API", "url": "/openapi/openapi-kafka-writer.yaml" }
        ]
      URLS_PRIMARY_NAME: "Kafka API"
    ports:
      - "7010:8080"
    volumes:
      - ./openapi:/usr/share/nginx/html/openapi
    networks:
      - kafka-net
